@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply m-0 p-0 min-w-80 min-h-screen bg-gray-100 text-black font-sans;
  }

  #root {
    @apply w-full min-h-screen;
  }

  input,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }
}

@media print {
  body {
    background-color: #fff;
  }

  @page {
    size: A4;
    margin: 10mm;
  }
}